{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Título del About of</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita deserunt saepe minima ipsam excepturi quia porro voluptate optio enim distinctio veritatis non, consequuntur, quidem quam molestias exercitationem perferendis provident voluptatem voluptatum beatae et! Omnis.
        </p>
    </div>
    <div class="col-4">
        <img src="http://lorempixel.com/400/400" alt="" srcset="">
    </div>
</div>

{{> footer}}